<a href="https://colab.research.google.com/github/twumasimb/Exploratory-Data-Analysis/blob/main/EDA_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Importing necessary libraries
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd
import statsmodels.api as sm
import random

In [3]:
data = pd.read_csv('/content/sample_data/dataset.csv') # Importing the dataset

In [5]:
#randomly selecting 100 datapoints
random.seed(20) # Ensure we get the same results all the time

sampled_data = data.sample(n=100)

In [8]:
#peeping at sampled data
sampled_data.describe()

              ptr     TOT_ENR_M     TOT_ENR_F       TOT_ENR  Mean_rating
count  100.000000    100.000000    100.000000    100.000000   100.000000
mean    12.676574   2069.820000   1941.280000   4011.100000     3.217679
std      2.385016   5191.135238   4877.413197  10068.382474     0.547758
min      7.000000     33.000000     30.000000     77.000000     2.000000
25%     10.972796    212.250000    196.500000    403.750000     2.875000
50%     12.874595    525.000000    507.000000   1025.500000     3.250000
75%     14.352116   1448.500000   1334.250000   2799.750000     3.750000
max     17.141464  29699.000000  27653.000000  57352.000000     4.000000

In [13]:
dataset = sampled_data.drop(['TOT_ENR_M', 'TOT_ENR_F', 'TOT_ENR'], axis=1)

In [12]:
sampled_data.head()

           ptr  TOT_ENR_M  TOT_ENR_F  TOT_ENR  Mean_rating
521  12.270804      534.0      556.0   1090.0        3.125
556  14.891491     1677.0     1479.0   3156.0        3.750
537  10.576036      220.0      218.0    438.0        2.375
439  15.155895      795.0      703.0   1498.0        3.125
177  12.940954      363.0      347.0    710.0        3.000

In [14]:
dataset.head()

           ptr  Mean_rating
521  12.270804        3.125
556  14.891491        3.750
537  10.576036        2.375
439  15.155895        3.125
177  12.940954        3.000

In [15]:
dataset.describe()

              ptr  Mean_rating
count  100.000000   100.000000
mean    12.676574     3.217679
std      2.385016     0.547758
min      7.000000     2.000000
25%     10.972796     2.875000
50%     12.874595     3.250000
75%     14.352116     3.750000
max     17.141464     4.000000

**Making Statistical Claims**



1.   50% of the ISDs have a 
2.   List item